[Unit]
Description=Blog Service
Documentation=https://github.com/botantony/blogservice-uni-project
After=network.target postgresql.service
Requires=postgresql.service
Wants=network-online.target

[Service]
Type=simple
User=bloguser
Group=bloguser
WorkingDirectory=/home/bloguser/service
EnvironmentFile=/home/bloguser/service/.env
ExecStart=/home/bloguser/service/bin/blogservice

Restart=on-failure
RestartSec=5s
StartLimitInterval=60s
StartLimitBurst=3

StandardOutput=journal
StandardError=journal
SyslogIdentifier=blogservice

[Install]
WantedBy=multi-user.target
